body{
background-color:white;
margin-top: 5px;
margin-bottom: 50px;
margin-right: 50px;
margin-left: 500px;
}

div h1{
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 30px;
}

#table {
        margin-top: 5px;
        border-radius: 10px;
        width: 100px;
        height: 550px;
        border: 7px groove rgb(22, 0, 42);
        background-color: aqua;
}
#table td {
        height: 2px;
        background-color: #808080;
        text-align: center;
}
#affichage {
        width: 95%;
        text-align: center;
        height: 70px;
        border-radius:0px;
        border-color: blue;
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 30px
}
#button {

        width: 20%;
        height: 20%;
}
